<div id="footer">
  <div class="navbar-footer">
      <ul class="footer-list">  
        <li><a class="footer-link" href=<%= about_path%> target="_blank">About</a></li>
        <li><div class="footer-text">|</div></li>
        <li><a class="footer-link" href="ttps://github.com/corbinpage/twitter-app" target="_blank">Contact</a></li>
      </ul>
  </div>
</div>