/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'styles'
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 //= depend_on_asset "nyc_twubbles.jpg"
 //= depend_on_asset "nyc_skyline_v1.jpg"
 */
@import "bootstrap";
@import "bootstrap-theme.min";
/* Some Style from the Bootstrap Default Theme */

/*
 *= require_self
*/

/*------------ Custom ------------*/

#top {
  background-image: image-url('nyc_skyline_v1.jpg');
  /*background: url('/assets/nyc_skyline_v1.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.member-pic {
  height: 256px;
  width: 256px;
}

#splash-header-text {
  background-color: black;
  border-radius: 5px;
}

#make-vertical-space {
  height: 200px;
}

#heatmapArea {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

body.twubbles {
  background-image: image-url('nyc_twubbles.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.wrap {
    height: 800px;
    height: auto !important;
    min-height: 100%;
    padding: 0 0 0 0;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  overflow: visible;
  position: fixed;
}

.twubbles-footer {
  height: 60px;
  width: 100%;
  background-color: black;
  margin-bottom: 0px;
}

.container .twubble-footer {
    bottom:0;
}

.twubbles p {
  color: #ADADAD;
}
.twubbles p * {
  color: #F5F5FF;
}

#twubbles-footer {
  width: 609px;
  position: fixed;
}

circle1 {
  box-shadow:0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);  
 -webkit-box-shadow:0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);  
 -moz-box-shadow:0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}
/*------------ Services Custom ------------*/

#services {
  background-color: #efefef;
}

.tech-image {
  height: 180px;
  width: 180px;
}

/*------------ End Custom ------------*/

html {
  position: relative;
  height: 100%;
}

body {
/*  /* Margin bottom by footer height
  margin-bottom: 50px;
  padding-bottom: 30px;*/
  height: 100%;
}

body * {
  color: rgb(129, 82, 82);

}

/*body > .container {
  padding: 50px 15px 0;
}*/

main {
  height: 100%;
}

.alert {
  text-shadow: none;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 1px;
}

#twitteriron{
  padding: 25%;
}

.alert-success {
  background-color: #56bc76;
  border-color: #47b256;
  color: #f8f8f8;
}

.alert-danger {
  background-color: #e5603b;
  border-color: #e22e24;
  color: #f8f8f8;
}

#coverbutton {
  width: 300px;
}

/*--------Footer--------*/

.navbar {
  background-color: #51a3f0;
  border: 0px;
}

.navbar .navbar-nav > li > a {
  color:black;
  text-decoration:none;
}

.navbar .navbar-nav > li:hover {
  background-color: #51a3f0;
  border-color: #51a3f0;
}

/*----------------------------------------Bubbles----------------------------------------------*/

.bubble {
    width: 300px;
    height: 300px;
    background: #A4BADF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 1000;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);  
    -webkit-box-shadow:0 20px 50px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);  
    -moz-box-shadow:0 20px 50px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1); 
    text-align: center;
    vertical-align: middle;
    display:table !important;
    float: none;
    overflow: hidden;
}

.bubble .bubble-text {
    text-align: center;
    color: black;
    vertical-align: middle;
    display: table-cell;
    z-index: 1001;
}

.x1 {
    left: 10%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 40%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 75%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 55%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.85;
    -webkit-animation: moveclouds 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 15%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 700px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 700px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 700px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

