/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
@import "bootstrap-theme";
/* Some Style from the Bootstrap Default Theme */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-bottom: 30px;
}

body * {
  color: rgb(129, 82, 82);

}

body > .container {
  padding: 50px 15px 0;
}

main {
  height: 100%;
}

.alert {
  text-shadow: none;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 1px;
}

#twitteriron{
  padding: 25%;
}

.alert-success {
  background-color: #56bc76;
  border-color: #47b256;
  color: #f8f8f8;
}

.alert-danger {
  background-color: #e5603b;
  border-color: #e22e24;
  color: #f8f8f8;
}

#coverbutton {
  width: 300px;
}

/*--------Footer--------*/

.navbar {
  background-color: #51a3f0;
  border: 0px;
}

.navbar .navbar-nav > li > a {
  color:black;
  text-decoration:none;
}

.navbar .navbar-nav > li:hover {
  background-color: #51a3f0;
  border-color: #51a3f0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #51a3f0;
  border-color: #51a3f0;
  z-index: 1000;
}

.navbar-footer {
  height: 100%;
  padding-top: 10px;
}

.footer-list {
  position: relative;
  list-style: none;
  display: table;
  margin: 0 auto 0 auto;
}

.footer-list * {
  color:black;
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
}

.footer-list a:hover {
  color:white;
  text-decoration:none;
}