<div class="aboutus-wrap" id="aboutus">
  <div class="container aboutus-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Moon</span> Station Studios</h2>
        <p>Our main ability is to <em>focus</em> on the task at hand and come up with the best solution. We are a small but experienced team of professionals and we pride ourselfs with great communication skills and artistic talen. We consider coding to be an art just like designing.</p>

        <p>Meet our team below</p>
      </div>
    </div>

    <div class="row team">
      <div class="col-md-4 member">
        <img src="/assets/face.jpg" class="img-responsive" alt="">
        <h3>Corbin Page</h3>
        <p>Psychic Channeler</p>

        <div class="social">
          <a href="#"><img src="/assets/icons/behance.png" alt=""></a>
          <a href="#"><img src="/assets/icons/linkedin.png" alt=""></a>
          <a href="#"><img src="/assets/icons/dribbble.png" alt=""></a>       
        </div>
      </div>
      <div class="col-md-4 member">
        <img src="assets/face.jpg" class="img-responsive" alt="">
        <h3>Joan Soskin</h3>
        <p>D3 Magician</p>

        <div class="social">
          <a href="#"><img src="assets/icons/plus.png" alt=""></a>
          <a href="#"><img src="assets/icons/linkedin.png" alt=""></a>      
        </div>
      </div>
      <div class="col-md-4 member">
        <img src="assets/face.jpg" class="img-responsive" alt="">
        <h3>William Jeffries</h3>
        <p>Project Manager</p>

        <div class="social">
          <a href="#"><img src="assets/icons/twiiter.png" alt=""></a>
          <a href="#"><img src="assets/icons/linkedin.png" alt=""></a>
          <a href="#"><img src="assets/icons/dribbble.png" alt=""></a>          
        </div>
      </div>            
    </div>  

    <div class="row">
      <div class="col-md-12 aboutus-link text-center">
        <a href="#contact" class="btn btn-lg btn-primary">Contact Us</a>
      </div>
    </div>    
  </div>
</div>
