<div class="contact-wrap" id="contact">
  <div id="map"></div>
  <div class="contact-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading">
          <h2><span>Get</span> In Touch</h2>
          <p>We are from the Flatiron School. If you like what you see, there's plenty more where that came from.</p>

          <p class="phone">(347) 729-7911</p>
          <p class="email">info@flatironschool.com</p>
          <p>11 Broadway, New York, NY 10004</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center social">
          <a class="icon" href="https://twitter.com/flatironschool"><%= image_tag('icons/twiiter.png') %></a>
          <a class="icon" href="https://plus.google.com/114639996820527260767/about"><%= image_tag('icons/plus.png') %></a>
          <a class="icon" href="http://www.linkedin.com/company/the-flatiron-school"><%= image_tag('icons/linkedin.png') %></a>
        </div>
      </div>    
      <div class="row">
        <div class="col-md-12 text-center copyright">
          <p>Copyright &copy; 2014</p>
        </div>

        <div class="up">
          <a href="#top"><%= image_tag('icons/top.png', alt: 'Go to top') %></a>
        </div>
      </div>
    </div>
  </div>

</div>
