<div class="contact-wrap" id="contact">
  <div id="map"></div>
  <div class="contact-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading">
          <h2><span>Get</span> In Touch</h2>
          <p>Your next project needs to be bigger and better but above all it needs to be succesful. We will make sure it is. Give us a call.</p>

          <p class="phone">(718) 555-5555</p>
          <p class="email">outpost@moonstationstudios.com</p>
          <p>4778 38th Street, New York, NY</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center social">
          <a class="icon" href="#"><img src="assets/icons/dribbble.png" alt=""></a>
          <a class="icon" href="#"><img src="assets/icons/twiiter.png" alt=""></a>
          <a class="icon" href="#"><img src="assets/icons/plus.png" alt=""></a>
          <a class="icon" href="#"><img src="assets/icons/behance.png" alt=""></a>
          <a class="icon" href="#"><img src="assets/icons/linkedin.png" alt=""></a>
        </div>
      </div>    
      <div class="row">
        <div class="col-md-12 text-center copyright">
          <p>Copyright &copy; 2014. Moon Station Studios LLC.</p>
        </div>

        <div class="up">
          <a href="#top"><img src="assets/icons/top.png" alt="Go to top"></a>
        </div>
      </div>
    </div>
  </div>

</div>
