<div class="services-wrap" id="services"> 
  <div class="container services-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Tech</h2>
        <p>We built our visuals using a variety cutting edge front-end and back-end technologies.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <%= image_tag('twitter_logo.png', class: 'img-responsive img-center tech-image', alt: "Twitter Streaming API")%>
        <h3>Twitter Streaming API</h3> 
        <p>Tapping into the firehose for real-time access to New York's streaming social conscience.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('d3_logo.svg', class: 'img-responsive img-center tech-image', alt: "D3.js Library")%>
        <h3>D3.js</h3> 
        <p>Bringing data to life with the most powerful JavaScript visualization library on the web.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('googlemaps_logo.png', class: 'img-responsive img-center tech-image', alt: "Google Maps API")%>
        <h3>Google Maps API</h3> 
        <p>Overlaying spatial social awareness on top of the world's most sophisticated mapping software.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 portfolio-link text-center">
        <!-- <a href="#work" class="btn btn-lg btn-primary">View Recent Work</a> -->
      </div>
    </div>
  </div>
</div>

