<div class="portfolio-wrap" id="work">
  <div class="container portfolio-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Visualizations</h2>
        <p>Ready to see the magic? <br> Take a look below.</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 text-center">
        <img src="/assets/portfolio-artwork.png" class="img-responsive img-center" alt="">
      </div>
    </div> -->
    <div class="row items portfolio-list">

      <div class="col-md-6 item">
        <a href="/heatmap">
          <%= image_tag("heatmapshot.gif", class: 'img-responsive') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("/assets/icons/portfolio-link.png") %></span></span>
        </a>
        <h3>HivePulse</h3>
      </div>
      <div class="col-md-6 item">
        <a href="/beverage">
          <%= image_tag("heatmapshot.gif", class: 'img-responsive') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("/assets/icons/portfolio-link.png") %></span></span>
        </a>
        <h3>Twibbles</h3>         
      </div>
      <div class="col-md-6 item">
        <a href="#">
          <img src="/assets/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="/assets/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Echo Chamber 1</h3>          
      </div>

      <div class="col-md-6 item">
        <a href="#">
          <img src="/assets/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="/assets/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Echo Chamber 2</h3>         
      </div>
      <!-- <div class="col-md-4 item">
        <a href="#">
          <img src="assets/images/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="assets/images/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Beijing</h3>          
      </div>
      <div class="col-md-4 item">
        <a href="#">
          <img src="assets/images/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="assets/images/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>China</h3>          
      </div>

      <div class="col-md-4 item">
        <a href="#">
          <img src="assets/images/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="assets/images/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Selling</h3>          
      </div>
      <div class="col-md-4 item">
        <a href="#">
          <img src="assets/images/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="assets/images/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Vitra Chairs</h3>         
      </div>
      <div class="col-md-4 item">
        <a href="#">
          <img src="assets/images/work.jpg" class="img-responsive" alt="">
          <span class="overlay"><span class="overlay-icon fa fa-plus"><img src="assets/images/icons/portfolio-link.png" alt="open link"></span></span>
        </a>
        <h3>Water Wave Exercise</h3>          
      </div> -->

    </div>

    <div class="row">
      <div class="col-md-12 aboutus-link text-center">
        <a href="#aboutus" class="btn btn-lg btn-primary">About Us</a>
      </div>
    </div>      
  </div>
</div>

