<div id="tog"class="btn">Toggle Heatmap</div>
<!-- <div id="gen" class="btn">Add 5 random lat/lng coordinates</div> -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div id="heatmapArea" class="well" />
<script type="text/javascript" src="assets/heatmap.js"></script>
<script type="text/javascript" src="assets/heatmap-gmaps.js"></script>
<script type="text/javascript">


var markers = [];
var heatPoint = {};
var after = 1;
var heat = [];
var geo = 0;
var no_geo = 0;
var map;
var heatmap;

window.onload = function(){
    
    var myLatlng = new google.maps.LatLng(40.7055269, -74.014346);
    
    var myOptions = {
      zoom: 12,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: false,
      scrollwheel: true,
      draggable: true,
      navigationControl: true,
      mapTypeControl: false,
      scaleControl: true,
      disableDoubleClickZoom: false
    };

    // we'll use the heatmapArea 
    var map = new google.maps.Map($("#heatmapArea")[0], myOptions);

        map.set('styles', styleSet(0));
    // let's create a heatmap-overlay
    // with heatmap config properties
    var heatmap = new HeatmapOverlay(map, {
        "radius":20,
        "visible":true, 
        "opacity":60
    });
 
    // here is our dataset
    // important: a datapoint now contains lat, lng and count property!
    var testData={
            max: 46,
            data: [
            {lat: 40.7055269, lng:-74.014346, count: 1}
            ]
    };


    heatmap = new HeatmapOverlay(map, {"radius":15, 
      "visible":true, 
      "opacity":50,
      "gradient": { 1.0: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)"}
    });

    setTimeout(getNewTweets,1000);  
    
    function getNewTweets(){
      console.log(after);
      $.getJSON("update.json?after=" + after, function(data){
          console.log(data)
          if(data['id'] != -1) { 
            if (data['has_geo']) {
              if (data[''])
            console.log(after);
            after = data['id'];
            heatmap.addDataPoint(data['lat'],data['lng'],100);
          }
        }
      });
      setTimeout(getNewTweets,100);  
    }

    function makeMarker(data) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(data['lat'], data['lng']),
          map: map,
          zIndex: 100,
          icon: "http://maps.google.com/mapfiles/dir_39.png"
        });
      markers.push(marker);
    }

    // document.getElementById("gen").onclick = function(){
      

    
    // };
    
    document.getElementById("tog").onclick = function(){
      heatmap.toggle();
    };

      var testData={
            max: 46,
            data: [{lat: 440.7055269, lng:-74.014346, count: 1}], 
          };
        
      
      // this is important, because if you set the data set too early, the latlng/pixel projection doesn't work
      google.maps.event.addListenerOnce(map, "idle", function(){
        heatmap.setDataSet(testData);
      });
    


    // // Sets the map on all markers in the array.
    // function setAllMap(map) {
    //   for (var i = 0; i < markers.length; i++) {
    //     markers[i].setMap(map);
    //   }
    // }

    // // Removes the markers from the map, but keeps them in the array.
    // function clearMarkers() {
    //   setAllMap(null);
    // }

    // // Shows any markers currently in the array.
    // function showMarkers() {
    //   setAllMap(map);
    // }

    pulse();
    // pulseDown(50);

    function pulse () {
      pulseDown(50);
    }

    function pulseDown (num) {
      if (num > -50){
        map.set('styles', styleSet(num));
        setTimeout(function() {pulseDown(num - 20)},100)
      } else {
        pulseUp(num);
      }
    }

    function pulseUp (num) {
      if (num < 0){
        map.set('styles', styleSet(num));
        setTimeout(function() {pulseUp(num + 40)},325)
      } else {
        pulseDown(num);
      }
    }

    function styleSet (num) {
      num = typeof num !== 'undefined' ? num : 0;

      return [
        {
          featureType: 'water',
          stylers: [
            { saturation: -90 },
            { lightness: 90 },
            { color: '#ffcccc' }
          ]
        }, {
          featureType: 'administrative',
          elementType: 'geometry',
          stylers: [
            { "color": "#ffdddd" },
            { "weight": 1 }
          ]
        }, {
          stylers: [
            { "hue": "#ff2080" },
            { "saturation": num },
            { "invert_lightness": true }
          ]
        }, {
          featureType: 'road',
          stylers: [
            { "hue": "#ff005d" },
            { "visibility": "off" }
          ]
        }
      ]
    }
 
    // now we can set the data
    // google.maps.event.addListener(map, "idle", function(){
    //     // this is important, because if you set the data set too early, the latlng/pixel projection doesn't work
    //     heatmap.setDataSet(testData);
    //     return console.log(heat);
    //     HeatmapOverlay.toggle();
    // });

    // var i = 0;

    // $('#heatmapArea').on("click", function () {
    //   if (i < 2) {
    //     clearMarkers();
    //   } else {
    //     showMarkers();
    //   }
    //   i++;
    // });
};
</script>