<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Your Internet Report Card</h1>
        <p class="lead">Sign in with Twitter and we'll quickly show you what dark secrets the Internet knows about you.</p>
        <p class="lead">
          <%=button_to "Get Started", about_path, method: "get", class: "btn btn-lg btn-default btn-block cover-button"%>
        </p>
      </div>
    </div>
  </div>
</div>