<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Your Twitter App</h1>
        <p class="lead">Let's get started</p>
        <ul class="header">
        </ul>
        <p class="lead">
        </p>
      </div>
    </div>
  </div>
</div>